<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/5f15a2e59f.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>KITCHEN</title>
  </head>
  <body>
    <header class="header">
      <div class="header_sect_logo">
        <img src="/img/logo.jpg" alt="Logo no disponible" />
      </div>

      <a class="header_logo_a_nav"><i class="fas fa-bars"></i></a>
      <nav class="header_nav_menu">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="">QUIENES</a></li>
          <li><a href="">SERVICIOS</a></li>
          <li><a href="">PORTFOLIO</a></li>
          <li><a href="">SUCURSALES</a></li>
          <li><a href="">CONTACTO</a></li>
        </ul>
      </nav>
    </header>
    <main class="home_main">
      <div class="home_main_sect_banner">
        <img src="/img/img-banner.jpg" />
      </div>
      <div class="home_main_sect_prods">
        <article class="home_main_sect_prod">
          <div class="home_main_sect_prod_img_box">
            <img
              class="home_main_sect_prod_img_art"
              src="/img/img-pdto-1.jpg"
              alt="imagen no disponible"
            />
            <img
              class="home_main_sect_prod_img_sticker"
              src="/img/img-nuevo.png"
            />
            <a href="">AMPLIAR FOTO</a>
          </div>
          <h2 class="home_main_sect_title">Lorem isump</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
            perferendis ut atque ea velit porro non at voluptatibus! Cupiditate
            porro tenetur quas fuga, eius laudantium corrupti itaque consequatur
            magnam cum!
          </p>
          <a class="home_main_sect_boton" href="">ver mas</a>
        </article>
        <article class="home_main_sect_prod">
          <div class="home_main_sect_prod_img_box">
            <img
              class="home_main_sect_prod_img_art"
              src="/img/img-pdto-2.jpg"
              alt="imagen no disponible"
            />
            <img
              class="home_main_sect_prod_img_sticker"
              src="/img/img-gratis.png"
            />
            <a href="">AMPLIAR FOTO</a>
          </div>
          <h2 class="home_main_sect_title">Lorem isump</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum,
            expedita. Adipisci dignissimos voluptatem reiciendis, suscipit vel
            ut natus provident maiores exercitationem molestias hic quasi error
            assumenda rem corporis ipsam veniam.
          </p>
          <a class="home_main_sect_boton" href="">ver mas</a>
        </article>
        <article class="home_main_sect_prod">
          <div class="home_main_sect_prod_img_box">
            <img
              class="home_main_sect_prod_img_art"
              src="/img/img-pdto-3.jpg"
              alt="imagen no disponible"
            />
            <img
              class="home_main_sect_prod_img_sticker"
              src="/img/img-descuento.png"
            />
            <a href="">AMPLIAR FOTO</a>
          </div>
          <h2 class="home_main_sect_title">Lorem isump</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
            perferendis ut atque ea velit porro non at voluptatibus! Cupiditate
            porro tenetur quas fuga, eius laudantium corrupti itaque consequatur
            magnam cum!
          </p>
          <a class="home_main_sect_boton" href="">ver mas</a>
        </article>
      </div>
    </main>
    <footer class="footer">
      <nav class="footer_nav">
        <ul>
          <li><a href="">home</a></li>
          <li><a href="">quienes</a></li>
          <li><a href="">servicios</a></li>
          <li><a href="">Portfolio</a></li>
          <li><a href="">sucursales</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
